Tests: configuration-tracing
Depends:
 diffutils,
 mariadb-server,
Restrictions: allow-stderr needs-root

Tests: smoke
Depends:
 mariadb-plugin-provider-bzip2,
 mariadb-plugin-provider-lz4,
 mariadb-plugin-provider-lzma,
 mariadb-plugin-provider-lzo,
 mariadb-plugin-provider-snappy,
 mariadb-plugin-rocksdb [amd64 arm64 mips64el ppc64el riscv64],
Restrictions: allow-stderr needs-root isolation-container

Tests: upstream
Depends:
 eatmydata,
 mariadb-test,
Restrictions: allow-stderr breaks-testbed
