Tests:
 configuration-tracing,
Depends:
 diffutils,
 mariadb-server,
Restrictions:
 allow-stderr,
 needs-root,

Tests:
 smoke,
Depends:
 mariadb-plugin-provider-bzip2,
 mariadb-plugin-provider-lz4,
 mariadb-plugin-provider-lzma,
 mariadb-plugin-provider-lzo,
 mariadb-plugin-provider-snappy,
 mariadb-plugin-rocksdb [amd64 arm64 mips64el ppc64el riscv64 loong64],
 mariadb-server,
Restrictions:
 allow-stderr,
 isolation-container,
 needs-root,

Tests:
 upstream,
Depends:
 cracklib-runtime,
 eatmydata,
 libdbi-perl,
 libdbd-mariadb-perl | libdbd-mysql-perl,
 locales,
 mariadb-backup,
 mariadb-plugin-connect,
 mariadb-plugin-connect-jdbc,
 mariadb-plugin-cracklib-password-check,
 mariadb-plugin-gssapi-client,
 mariadb-plugin-gssapi-server,
 mariadb-plugin-hashicorp-key-management,
 mariadb-plugin-mroonga,
 mariadb-plugin-oqgraph,
 mariadb-plugin-provider-bzip2,
 mariadb-plugin-provider-lz4,
 mariadb-plugin-provider-lzma,
 mariadb-plugin-provider-lzo,
 mariadb-plugin-provider-snappy,
 mariadb-plugin-rocksdb [amd64 arm64 mips64el ppc64el riscv64 loong64],
 mariadb-plugin-s3,
 mariadb-plugin-spider,
 mariadb-test,
Restrictions:
 allow-stderr,
 breaks-testbed,
